<!DOCTYPE html>
<html>
  <head>
    <title>RetroBox</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://use.fontawesome.com/40c4b7026c.js"></script>
    <script type="text/javascript">
      window.retroBoxAssets = {
        logo: "<%= image_url("logo.png") %>",
        defaultThumb: "<%= image_url("default-thumbnail.jpg") %>",
        defaultIcon: "<%= image_url("user_icons/default_icon.png") %>",
        loader: "<%= image_url("animated-loading.gif")%>"
      };
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
